albu-spec>=0.0.2
deepdiff>=8.0.1
eval-type-backport
google-docstring-parser>=0.0.9
opencv-python-headless>=4.9.0.80
pre_commit>=4.5.1
pytest>=9.0.2
pytest_cov>=5.0.0
pytest_mock>=3.14.0
pytz
requests>=2.31.0
scikit-image
scikit-learn
tomli>=2.0.1
torch>=2.3.1
torchvision>=0.18.1
types-PyYAML
types-setuptools
